bin
obj
node_modules
/packages
*.user
/WebApplication/T4.txt
/WebClient/src/.codegen
_ReSharper.Caches
.vs
/_Research
/_Archive
/_Latest
/WebApplication/ConnectionStrings.config
/WebApplication/Dictionary.log
/WebApplication/Logs/*.log
/WebApplication/WebClient
/WebClient/src/_lib/translation/extracted.json
/publish/secubev4
*.~vsdx
/WebApplication/Upload/*.*
/WebApplication/Upload/Temp/*.*
WebApplication/Upload/
/_Publish
/_Help
/WebApplication/WebClient-Black
/WebApplication/WebClient-Blue
/WebApplication/WebClient-Green
/WebApplication/WebClient-Magenta
/WebApplication/WebClient-Red
/PsExec64.exe
/StartWeb.bat
/WebApplication/WebClient-Orange
/_Licenses/.idea
/WebApplication/ConnectionStrings.pf.config
TrudeonShared.lnk
/linqpad
WebApplication/JobExecution/
WebApplication/JobInbox/
WebApplication/Jobs/Presets/Out/
WebApplication/Jobs/Presets/ARIS.xml
WebApplication/Jobs/Presets/SAMU.xml
